*{
    margin:0;
    padding:0;
    box-sizing: border-box ;
}
body{
    background-image: linear-gradient(to right, rgb(44, 43, 42) , rgb(172, 172, 147));
}

.container{
border-bottom:1px solid #ccc;
    width:100%;
    height:400px;
    margin:40px auto;   
    display:flex;
    flex-direction: row;
    justify-content:center;
}

h2{
    text-align: center;  
    font-size: 25px; 
    margin-top:40px;
    color:#fff;
}
.appBg{
    margin: 15px auto;
    width:300px;
    height:420px; 
    display:block;
   
}
.appBg form{
    background-color:#000;
    width:100%;
    height:100%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow:0px 5px 7px #000;

}
.appBg input[type=textfield]{   
    width:100%;  
    height:25%;
    cursor:default;
    color:#fff; 
    background-color:#000;
    padding:15px;
    text-align: right;
    font-size: 50px;
    outline: none;
    margin-bottom:5px;
    border:0;
}
.appBg input[type=button],input[type=reset]{   
    width:22%;  
    cursor:pointer;
    color:#fff; 
    font-weight: bold;
    font-size:15px;
    padding:18px;
    margin:3px;
    border:0;
    border-radius: 100%;;
}
.appBg .orange {
    background-color: orange;
}
.appBg .gray {
    background-color: gray;  
}
.container .area{
    margin:0 10px;
    
}
.container .formulario{
    border:1px solid rgb(99, 18, 18);
    width:300px;
    height:260px; 
    margin:30px auto;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;  
}

.container .formulario input[type=number],button{
    width:20%;
    margin:8px;
}
.container .formulario label{
    color:#fff;
    font-size:18px;
}